*, p, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%; }

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'AvenirNext-Medium', sans-serif;
  background-color: #F2F5FE;
  color: #fff; }
  body .no-padding {
    padding: 0px; }

header {
  background: -webkit-linear-gradient(90deg, #862644 50%, #E65578 100%);
  background: -o-linear-gradient(90deg, #862644 50%, #E65578 100%);
  background: linear-gradient(90deg, #862644 50%, #E65578 100%);
  padding-bottom: 10px;
  padding-top: 2px; }
  header .nav-menu {
    margin-bottom: 0; }
    header .nav-menu .navbar-header .navbar-brand {
      font-family: 'AvenirNext-Bold', sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      color: #FFFFFF; }
      header .nav-menu .navbar-header .navbar-brand img {
        display: inline;
        margin-right: 15px; }
    header .nav-menu .navbar-collapse .nav {
      padding-top: 20px; }
      header .nav-menu .navbar-collapse .nav a {
        color: #fff;
        font-size: 18px; }
      header .nav-menu .navbar-collapse .nav > li {
        padding: 0 3px; }
        header .nav-menu .navbar-collapse .nav > li > a {
          padding-top: 0px;
          padding-bottom: 15px;
          opacity: 0.62; }
      header .nav-menu .navbar-collapse .nav li.active a {
        opacity: 1; }
      header .nav-menu .navbar-collapse .nav a:focus, header .nav-menu .navbar-collapse .nav a:hover {
        background-color: rgba(255, 255, 255, 0); }
      header .nav-menu .navbar-collapse .nav .dropdown-menu li a {
        color: #333;
        text-align: center; }
        header .nav-menu .navbar-collapse .nav .dropdown-menu li a:hover {
          color: #000; }
      header .nav-menu .navbar-collapse .nav .dropdown-menu li:not(.divider) {
        padding: 8px 0; }
      header .nav-menu .navbar-collapse .nav .language a {
        padding-bottom: 0px; }
        header .nav-menu .navbar-collapse .nav .language a img {
          width: 40px; }
      header .nav-menu .navbar-collapse .nav .language .dropdown-menu {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        left: -2px;
        -webkit-box-shadow: none;
        box-shadow: none; }
        header .nav-menu .navbar-collapse .nav .language .dropdown-menu li {
          margin-top: 5px;
          padding: 0; }
          header .nav-menu .navbar-collapse .nav .language .dropdown-menu li a {
            opacity: 1;
            text-align: unset; }
      header .nav-menu .navbar-collapse .nav .account {
        margin-top: -10px; }
        header .nav-menu .navbar-collapse .nav .account a {
          padding-bottom: 0; }
      header .nav-menu .navbar-collapse .nav .dropdown:hover .dropdown-menu {
        display: block; }

#wraper {
  color: #000; }
  #wraper #settings {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px; }
    #wraper #settings .s-left {
      border: 1px solid #E4E4E4;
      background-color: #fff;
      width: 25%;
      padding: 20px; }
      #wraper #settings .s-left h3 {
        font-size: 20px;
        margin-bottom: 40px;
        color: #B43C5D; }
      #wraper #settings .s-left h4 {
        color: #7A7A7A;
        font-size: 16px;
        margin-bottom: 30px; }
        #wraper #settings .s-left h4 span {
          font-size: 18px;
          color: #151515; }
    #wraper #settings .s-middle {
      margin-left: 20px;
      width: 37.5%; }
      #wraper #settings .s-middle .sm-top {
        border: 1px solid #E4E4E4;
        padding: 25px 15px; }

footer .footer-top {
  background: -webkit-linear-gradient(90deg, #862644 50%, #E65578 100%);
  background: -o-linear-gradient(90deg, #862644 50%, #E65578 100%);
  background: linear-gradient(90deg, #862644 50%, #E65578 100%);
  padding-top: 30px;
  padding-bottom: 15px; }
  footer .footer-top h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600; }
  footer .footer-top ul li {
    margin-bottom: 15px; }
    footer .footer-top ul li a {
      color: #fff;
      opacity: 0.62; }
  footer .footer-top .ft {
    width: 20%;
    float: left; }
  footer .footer-top .ft-5 {
    margin-top: -8px; }
    footer .footer-top .ft-5 a {
      font-family: 'AvenirNext-Bold', sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      color: #FFDBE4; }
      footer .footer-top .ft-5 a img {
        display: inline;
        margin-right: 15px; }
footer .footer-bottom {
  background-color: #58041D;
  padding: 20px 0 15px 0; }
  footer .footer-bottom h4 {
    opacity: 0.31; }
